header {
    background-color: rgb(0, 0, 0);
    color: ghostwhite;
    text-align: center;
    font-size: 40px;
    padding: 40px;
}
main {
    background-color: rgba(0, 0, 0, 0.774);
    color: ghostwhite;
    padding: auto;
    text-align: center;
    font-family: 'Gluten', cursive;
}
* {
    box-sizing: border-box;
}
  
.box {
    float: left;
    width: 33.33%;
    padding: 50px;
    background-color: rgb(248, 248, 255);
    color: black;
    border: black solid 3px;
    height: 300px;
    border-radius: 3%;
    font-family: 'Gluten', cursive;
}
body {
    background-color: black;
    color: ghostwhite;
}
  